# Ignore embedding files
embeddings/
*.npy

# Ignore ONLY model checkpoint files, NOT the plots folder
models/*.pt
models/*.pth

# Allow plot images inside models/plots/
!models/plots/
!models/plots/*

# Python cache
__pycache__/
*.pyc

# Logs
*.log

#src
src/extract_embeddings_ITW.py
src/InTheWildTest.py
src/ITW_trump_predictions.csv

embedding
embeddings_itw
embeddings_itw_trump
itw_trump_eval